AlbenianAndParameterized/README.txt
CourseProject/project/README
CourseProject/project/.DS_Store
CourseProject/project/src/__pycache__
CourseProject/project/output
CourseProject/project/.idea/inspectionProfiles
CourseProject/project/.idea
CourseProject/__MACOSX/project/._src
CourseProject/__MACOSX/._project
CourseProject/__MACOSX/project/._README
CourseProject/__MACOSX/project/._output
CourseProject/__MACOSX/project/._dataset
CourseProject/__MACOSX/project/._.venv
CourseProject/__MACOSX/project/._.idea
CourseProject/__MACOSX/project/._.DS_Store
CourseProject/__MACOSX/project/.idea
CourseProject/__MACOSX/project/.venv
CourseProject/__MACOSX
CourseProject/project/project.rar
